\documentclass[pdflatex,ja=standard,<%.PaperSize%>,10pt]{bxjsarticle}
\usepackage[pdftex]{graphicx}
\usepackage{fancyhdr}
\usepackage{courier}
\newdimen\charwd
{\tt\global\setbox0=\hbox{x}\global\charwd=\wd0}
\frenchspacing
\pagestyle{fancy}
\renewcommand{\headrulewidth}{0pt}
\fancyhf{}
<%.Header%>
<%.Footer%>
% plain TeX compatibility
\makeatletter
\providecommand{\eqalign}[1]{\vcenter{\openup1\jot\m@th
  \ialign{\strut\hfil$\displaystyle{##}$&$\displaystyle{{}##}$\hfil\crcr#1\crcr}}}
\makeatother
\ifx\sevenrm\undefined
  \font\sevenrm=cmr7 scaled \magstep0
\fi
\def\mc{\relax}
\def\gt{\relax}
\def\sc{\scshape}
\begin{document}
\tt\mc 
